.post {
  display: flex;
  justify-content: center;
  width: calc(100% - (20px * 2));
  margin: 10px 0px;

  &__container {
    display: flex;
    flex-direction: row;
  }

  &__avatar {
    margin: 15px 20px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
